@font-face {
  font-family: 'helvetica-neue';
  src: url(assets/fonts/helvetica-neue.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'helvetica-neue-bold';
  src: url(assets/fonts/helvetica-neue-bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'helvetica-neue-light';
  src: url(assets/fonts/helvetica-neue-light.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'helvetica-neue-medium';
  src: url(assets/fonts/helvetica-neue-medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'helvetica-neue-thin';
  src: url(assets/fonts/helvetica-neue-thin.ttf);
  font-weight: normal;
}
